<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alex's Tank Controller</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="video_feed"><img src="http://192.168.8.205:3001/?action=stream" /></div>
    <button id="forward_button">forward</button>
    <button id="backward_button">backward</button>
    <button id="left_button">left</button>
    <button id="right_button">right</button>
    <button id="m1up_button">M1 up</button>
    <button id="m1down_button">M1 down</button>
    <script src="static/script.js"></script>
  </body>
</html>